:root {
    --primary-color: #006633;
    --bg-color: #f3f4f6;
    --text-color: #1f2937;
    --border-color: #d1d5db;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-y: auto;
}

html {
    scroll-behavior: smooth;
}



/* Print Styles */
@media print {
    * {
        visibility: hidden;
    }

    [data-print-container],
    [data-print-container] * {
        visibility: visible;
    }

    [data-print-container] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0
    }
}
